.items {
    margin-right: 15px;
    list-style: none;

}

.list {
    display: flex;
    justify-content: left;
    flex-direction: row;

}

.images {

    width: 500px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}